.todos-app{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: burlywood;
    width: 50%;
    margin: auto;
    flex-direction: column;
}