<main class="main">

  @if(false){
    <h1>seconds now: {{secondsNow}}</h1>

    <p *ngIf="secondsNow % 2 === 0"> <!-- ngIf hace que esto se monte o se desmonte solo si se cumple la condicion, es decir, lo quita del DOM -->
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo doloribus ad distinctio? Quis sed veritatis dignissimos sapiente, aliquam quia corrupti obcaecati pariatur expedita repellat labore, magnam tempora aspernatur suscipit ea?
    </p>

    <!-- con else -->
    <div *ngIf="secondsNow % 2 === 0; else elseBlock">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo doloribus ad distinctio? Quis sed veritatis dignissimos sapiente, aliquam quia corrupti obcaecati pariatur expedita repellat labore, magnam tempora aspernatur suscipit ea?
    </div>
    <ng-template #elseBlock>else</ng-template>

    @if(secondsNow % 3 === 0){
      <p>
        Prueba
      </p>
    } @else{
      <p>ELSE</p>
    }


    <p [hidden]="secondsNow % 2 === 0"> <!-- hidden hace que esto se oculte solo si se cumple la condicion, pero sin desmontarse, le añade una prop hidden al <p> pero no lo quita del DOM -->
      Hola
    </p>

    <p *ngFor="let emoji of smiles">{{emoji}}</p> <!-- ngFor hace un bucle sobre el array smiles y pinta todos sus valores cada uno en un <p> Tambien se puede hacer para pintar componentes-->

    <!-- Otra sintaxis de for -->
    @for (emoji of smiles; track emoji){
      <p >{{emoji}}</p>
    }
  }

  @if(false){
    <input type="text" placeholder="whatever" appGetFocus>
    <p appBackground [color]="'red'">PRUEBA ROJO</p>
  }

  <!-- <app-counter [startAt]="counterStart"></app-counter> -->

  <!-- <app-todos/> -->

  <app-characters />



</main>